

.separator {
    height: 200px;
	background: url(../img/bg-separator-right.png) no-repeat center / 100% 100%;
    position: relative;
    z-index: 2000;
    margin-top: -150px;
    pointer-events: none;

    @include respond-to( $bp-m ) {
        height: 300px;
        margin-top: -200px;
    }

    &.left {
        background: url(../img/bg-separator-left.png) no-repeat center / 100% 100%;
    }
}

