

// set colors
$green: #80c143;
$grey: #868686;
$grey-light: #999999;
$grey-dark: #444444;
$cyan: #2fadde;
$sea: #064e68;
$purple: #87049d;
$lime: #80c143;



// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1440px;


// import all the things
@import "mixins", "fonts", "reset", "button", "base", "grid", "form";


// import layout components
@import "header", "content", "sidebar", "footer";


// import the component styles
@import "component-header", "component-floating-buttons", "component-big-box", "component-blockquote", "component-icons", "component-icon-boxes", "component-separator", "component-content-area", "component-content-two", "component-accordions", "component-post-list", "component-slides", "component-spacer", "component-minutes";


// import lightbox styles
@import "magnific";

